.chartDiv{
  height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chartButtonContainer{
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.slider{
  width:80%;
  display:flex;
  
  justify-content: center;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
.minpay{
  background-color: rgba(198, 0, 0, 0.2);
  border: 2px solid rgb(198,0,0);
}
.minsurpluspay{
  background-color: rgba(198, 200, 0, 0.2);
  border: 2px solid rgb(198, 200, 0);
}
.actsurpluspay{
  background-color: rgba(41, 223, 32, 0.2);
  border: 2px solid rgb(41, 223, 32);
}