.containers{
  display: flex;
  justify-content: space-between;
  margin: 2% 0 0 0;
  width: 100%;
}

.chart-calendar-toggle{
  height: 3em;
}

.calendar{
  position: absolute;
  width: 63%;
  color: $gold-color;
  margin: 10% 0 0 2%;
  top: 7vh;
  left: 0;
}

.rightSide{
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.chart{
  width: 63%;
  margin: 10% 0 0 2%;
  position: absolute;
  top: 7vh;
  left: 0;
}

.selected{
  animation: 1.2s linear forwards wipeIn
}

.unselected{
  animation: 1.2s linear forwards wipeOut
}

@keyframes wipeIn {
  0% {
    visibility: hidden;
    clip-path: polygon(0 0, 1% 0, 1% 100%, 0 100%);
  }
  49% {
    visibility: hidden;
    clip-path: polygon(0 0, 1% 0, 1% 100%, 0 100%);
  }
  50% {
    visibility: visible;
    clip-path: polygon(0 0, 1% 0, 1% 1%, 0 1%);
  }
  60%{
    visibility: visible;
    clip-path: polygon(0 0, 40% 0, 1% 100%, 0 100%);
  }
  90%{
    visibility: visible;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
  }
  100% {
    visibility: visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes wipeOut {
  0% {
    visibility: visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  10%{
    visibility: visible;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
  }
  40% {
    visibility: visible;
    clip-path: polygon(99% 0, 100% 0, 100% 100%, 60% 100%);
  }
  49%{
    visibility: visible;
    clip-path: polygon(99% 0, 100% 0, 100% 100%, 99% 100%);
  }
  50% {
    visibility: hidden;
    clip-path: polygon(99% 0, 100% 0, 100% 100%, 99% 100%);
  }
  100% {
    visibility: hidden;
    clip-path: polygon(99% 0, 100% 0, 100% 100%, 99% 100%);
  }
}


@media(max-width: 500px){
  #chart{
    display: none;
  }
  #calendar{
    display: none;
  }

  .containers{
    height: 100vh;

    button{
      display: none;
    }
    
  }

  .rightSide{
    width: 100%;
  }

  .next-step-hold{
    height: 19rem;
  }

  .show-all-text{
    margin: .8rem 0% 0% 0%;
  }

  
}