.horizonSnapshot{
  border: solid;
  height: 70%;
  width: 90%;
  color: $gold-color;
  margin-right: 5%;
  margin-top: 5%;
}

.horizon{
  
}

.innerInfo{
  
}

.title{
  text-align: center;
  font-size: 30px;
}

.span{
  color: red;
}