input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $gold-color;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Raleway", sans-serif;
}

input {
  background-color: #34373f;
  border: none;
  color: $gold-color;
  height: 4vh;
  width: 12rem;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 9px;
  margin-right: 12px;
  border-radius: 4px;
}

input[type="number"] {
  @extend input;
}

textarea[name="notes"] {
  background-color: #34373f;
  border: none;
  color: $gold-color;
  height: 4vh;
  width: 12rem;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 19px 9px -8px 9px;
  border-radius: 4px;
}

select {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Raleway";
  display: inline-block;
  width: 10rem;
  cursor: pointer;
  padding: 10px 8px;
  outline: 0;
  border: 1px solid $independence-color;
  border-radius: 9px;
  background: $black-color;
  color: $gold-color;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

select:hover,
select:focus {
  color: $gold-color;
  background: $independence-color;
}

select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}

button {
  margin: 15px;
}

.inputs {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fr 1fr 1fr 4.5rem;
  grid-template-areas: "one ""two ""three";
  // margin-left: 2%;
  margin-top: 2%;
}

.one{ 
  grid-area: 31; 
}

.two{ 
  grid-area: 32; 
}

.three{ 
  grid-area: 33; 
}

#skip {
  height: 3rem;
  width: 8rem;
  text-align: center;
}

div {
  h1 {
    font-size: 2rem;
  }
}

.wizNav {
  margin-left: 2%;
}

.buffer {
  margin: 5px 0;
  font-size: 1.5rem
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "four " "five " "six ";
  margin-top: 2%;
}

.four{ 
  grid-area: 34 ; 
}

.five{ 
  grid-area: 35 ; 
}

.six{ 
  grid-area: 36 ; 
}

.grid-container3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "seven ""eight ""nine ";
  margin-top: 2%;
}

.seven {
  grid-area: 'seven';
}

.eight {
  grid-area: 'eight';
}

.nine {
  grid-area: 'nine';
  display: flex;
  flex-direction: column;
}

@media (max-width: 1015) {
  .grid-container {
    input{
      width: 4rem;
    }
  }
}

#weirdButton{
  width: 8rem;
}

.errors-hold{
  margin-left: 20px;
}
