Body{
  background-color: $black-color;
  color: $gold-color;
  font-family: 'Raleway', sans-serif;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-right: 6%;
  border: solid;
}

.main{
  display: flex;
  justify-content: flex-end;
  border: solid;
}

input[type=text]{
  background-color: #34373F;
  border: none;
  color: $gold-color;
  height: 4vh;
  width: 10vw;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 9px;
  margin-right: 12px;
}

.registerInput{
  display: flex;
  flex-direction: column;
}

::placeholder{
  color: #DACE94;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

