.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -3%;
  margin-bottom: 1.5%;
  margin-right: 6%;
  // border: solid;
}

.main{
  display: flex;
  justify-content: space-between;
  // border: solid;
  flex-direction: column;
  font-size: 40px;
}

input[type=text]{
  background-color: #34373F;
  border: none;
  color: $gold-color;
  height: 4vh;
  width: 12vw;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 9px;
  margin-right: 12px;
}

.registerInput{
  float: right;
  margin: 1% 10% 3% 3%;

}

.registerText{
  text-align: right;
  margin-right: 10.9%;
  margin-top: 2%;
}

::placeholder{
  color: #DACE94;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

.signUpButton{
  margin: 5% 4% 1% 1%;
  float: right;
}

#logoutButton{
  float: right;
  margin: -3% 11% 0% 0%;
}

.errorMess{
  font-family: $font-fam;
  font-size: 30px;
  color: $red-color;
  text-align: right;
  margin: 0% 8% -1% 0%;
  padding: 0;
  // border: solid;
}

.errorMessage{
  font-family: $font-fam;
  font-size: 30px;
  color: $red-color;
  text-align: right;
  margin: -5.6% 17.6% 0% 0%;
}

a{
  color: $gold-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $gold-color;
  transition: background-color 5000s ease-in-out 0s;
  font-family: 'Raleway', sans-serif;
}

