.next-step-hold{
  width: 90%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.next-step-title{
  text-align: left;
  font-size: 2rem;
}

.nextSteps{
    height: 300px;
    border: solid;
    // height: 15%;
    width: 100%;
    color: $gold-color;
    
    overflow-y: scroll;
    font-size: 1.5rem;
    // display: none;
}

.show-all-text{
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}