.next-step-hold{
  width: 90%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.next-step-title{
  text-align: center;
  font-size: 2rem;
}

.nextSteps{
    height: 13rem;
    width: 100%;
    color: $gold-color;
    overflow-y: scroll;
    font-size: 1.5rem;
}

.show-all-text{
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  // margin-top: -4rem;
}