.ProfileIncome{
  width: 90%;
  margin: 20px 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  @media screen and (max-width: 520px) {
    font-size: 1rem;
  }
}

.ProfileIncome-button-hold{
  display: flex;
}

.ProfileIncome-button{
  margin: 0 10px;
  cursor: pointer;
}

.ProfileIncome-text-hold{
  max-width: 85%;
  input{
    min-width: 0px;
  }
}

.ProfileIncome-form-line{
  display: flex;
  align-items: center;
  max-width: 100%;
  select{
    width: 80%;
  }
  input{
    min-width: 60px;
  }
  p{
    margin-right: 15px;
  }
}

.confirm{
  border: 1px solid white;
  background: #2c2e35;
  height: 12%;
}