@import 'reset';

@import 'sassVars';
@import 'LoginRegister';
@import 'dashboard';
@import 'chart';
@import 'HorizonSnapshot';
@import 'Step';

Body{
  background-color: $black-color;
  color: $gold-color;
  font-family: 'Raleway', sans-serif;
}
@import 'NavBar';