@import 'reset';
//I've pulled the styles out of fullcalendars node_modules to edit it here where it will be tracked as part of the build -dillon
// @import '~@fullcalendar/core/main.css';
// @import '~@fullcalendar/daygrid/main.css';

@import 'sassVars';
@import 'fullcalendarCustomStyle';
@import 'LoginRegister';
@import 'dashboard';
@import 'chart';
@import 'HorizonSnapshot';
@import 'Step';
@import "NextSteps";
@import 'IncomeDebtExpense';

Body{
  background-color: $black-color;
  color: $gold-color;
  font-family: 'Raleway', sans-serif;
}
@import 'NavBar';