@import 'reset';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

@import 'sassVars';
@import 'LoginRegister';
@import 'dashboard';
@import 'chart';
@import 'HorizonSnapshot';
@import 'IncomeDebtExpense';

Body{
  background-color: $black-color;
  color: $gold-color;
  font-family: 'Raleway', sans-serif;
}
@import 'NavBar';